@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  grid-template-columns: repeat(5, 15%);
  grid-template-rows: repeat(6, 14%);
  grid-gap: 1%;
  justify-content: center;
  align-content: space-around;

  &.main_click_disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  .grid_item {
    @include flex-center;
    position: relative;
    border: 2px solid pink;
    background: silver;
    font-size: 4rem;
    color: grey;
    cursor: pointer;
    user-select: none;

    .image_shape {
      @include flex-center;
      position: absolute;
      color: #485ca1;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      z-index: 100;
      background: silver;
      display: none;
    }

    &.show {
      cursor: default;
      .image_shape {
        display: none;
      }
      img {
        display: block;
      }
    }
  }
}
