#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-rows: 8% 85% 7%;
  grid-template-columns: 1fr;
  background-color: grey;
  margin: 0 auto;
}
