#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  display: grid;
  width: fit-content;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background-color: grey;
  margin: 0 auto;
}
